appdirs==1.4.4
asgiref==3.2.7
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.2
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.6
django-cleanup==4.0.0
django-crispy-forms==1.9.1
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
image==1.5.31
kiwisolver==1.2.0
matplotlib==3.2.1
more-itertools==8.2.0
numpy==1.18.4
packaging==20.3
pandas==1.0.3
Pillow==7.1.2
pipenv==2018.11.26
pluggy==0.13.1
psycopg2==2.8.5
py==1.8.1
pycodestyle==2.5.0
pyparsing==2.4.7
pytest==5.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.26.5
virtualenv==20.0.20
virtualenv-clone==0.5.4
wcwidth==0.1.9
webencodings==0.5.1
whitenoise==5.0.1
